<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.shutup.ohaus_app"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".login.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".common.BaseActivity">
        </activity>
        <activity android:name=".main.MainActivity">
        </activity>
        <activity android:name=".drawer_menu_activity.me.MeActivity">
        </activity>
        <activity android:name=".drawer_menu_activity.history.HistoryActivity">
        </activity>
        <activity android:name=".drawer_menu_activity.downloads.DownloadsActivity">
        </activity>
        <activity android:name=".drawer_menu_activity.favorite.FavoriteActivity">
        </activity>
        <activity android:name=".drawer_menu_activity.invite.InviteActivity">
        </activity>
        <activity android:name=".drawer_menu_activity.setting.SettingActivity">
        </activity>
        <activity android:name=".main.production_category.ProductionCategoryActivity">
        </activity>
        <activity android:name=".main.industry_information.IndustryInformationActivity">
        </activity>
        <activity android:name=".main.solve_plan.SolvePlanActivity">
        </activity>
        <activity android:name=".main.production_knowledge.ProductionKnowledgeActivity">
        </activity>
        <activity android:name=".main.goods_recommend.GoodsRecommendDetailActivity">
        </activity>
        <activity android:name=".main.quick_news.QuickNewsDetailActivity">
        </activity>
    </application>

</manifest>